/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

.img-fluid {
    width: 100%;
    height: auto;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 20px 0;
}
@media screen and (min-width: 1024px) {
    h2 {
        font-size: 60px;
    }
}


/* color and font weights */
:root {
    --color-black: #000;
    --color-white: #fff;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--color-black);
    text-transform: capitalize;
    z-index: 999;
}

.navbar a {
    color: var(--color-white);
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* navbar media queries */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .navbar .navbar-nav {
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .navbar .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}


/* Hero section */

.hero {
    position: relative;
    padding:  100px;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow: hidden;
}

.hero-heading {
    position: relative;
    z-index: 1;
    width: 60%;
    font-size: 200px;
    font-weight: var(--font-weight-bold);
    z-index: 1;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in infinite alternate;
}

/* keyframes credit to - https://animate.style */

/* Fading entrances  */
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.hero-img {
    position: absolute;
    width: 600px;
    left: 950px;
    top: 470px;
    filter: grayscale(100%);
}

.hero .down-arrow {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    cursor: pointer;
    animation: jump 1.5s ease-in-out infinite forwards;
}

.hero .down-arrow a {
    color: var(--color-white);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(90%);
    }
}


@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .hero-heading {
        font-size: 140px;
    }
    .hero-img {
        width: 500px;
        top: 350px;
        left: 700px;
    }
}
@media screen and (min-width: 1440px) {
    .hero-img {
        left: 770px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
        padding-left: 100px;
        padding-right: 100px;
    }
    .hero-heading {
        font-size: 100px;
    }
    .hero-img {
        width: 420px;
        left: 480px;
        top: 270px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .hero {
        padding-top: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-heading {
        width: 100%;
        font-size: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .hero-img {
        top: 240px;
        left: 0;
    }
}

@media screen and (max-width: 320px) {
    .hero {
        padding: 245px 20px 50px;
    }
    .hero-heading {
        font-size: 60px;
    }
}





/* about section */

#about {
    padding: 20px;
    padding-top: 100px;
}

#about .left img {
    max-width: 550px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 425px) {
    h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) {
    #about h2 {
        text-align: left;
    }
    #about {
        display: flex;
    }
    #about .left {
        width: 40%;
        padding: 20px;
    }
    #about .right {
        width: 60%;
        padding: 20px;
    }
}

/* services section */

#services {
    padding: 20px;
    padding-top: 40px;
}

.service-container {
    display: flex;
    overflow-x: scroll;
    
}

.service-container .service {
    border: 1px solid var(--color-black);
    padding: 10px;
    margin-right: 10px;
    min-width: 260px;
    transition: all 0.3s ease;
}

.service-container .service:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

@media screen and (min-width: 1024px) {
    .service-container .service {
        min-width: 550px;
    }
}

/* contact form section */

#contact {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

#contact form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    transition: all 0.3s;
}

#contact form input:hover {
    padding-left: 20px;
}

#contact form input:focus {
    background-color: var(--color-white);
    color: var(--color-black);
}
#contact form input:focus::placeholder {
    color: var(--color-black);
}

#contact form input:active {
    background-color: var(--color-white);
    color: var(--color-black);
}

#contact form  button[type="submit"] {
    width: min-content;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid var(--color-black);
    transition: all 0.3s;
}

#contact form  button[type="submit"]:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}
#contact form  button[type="submit"]:focus {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

#contact form input::placeholder {
    color: var(--color-white);
}

@media  screen and (min-width: 425px) {
    h2 {
        text-align: center;
    }
    
}

/* footer */
.my-signature {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    width: 20px;
    height: 20px;
    color: #E91E63;
    fill: #E91E63;
}